/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html,body{
  background: #000;
}
body{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

.logo{
  width:100px;
  margin-right: auto;
}
/* Add your styles below */
nav{
  align-items: center;
  display: flex;
  gap:15px;
  padding: 10px;
  border-bottom: solid grey 1px;
}
a:hover{
  text-decoration: underline;
}
nav .active{
  text-decoration: underline;
}
.pfp{
  max-width: 300px;
  border-radius: 9999999999px;
}
section{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
p{
  font-weight: 300;
}
.stats{
  display: flex;
  gap: 10px;
}
strong{
  font-weight: 600;
}
.pfdesc{
display: flex;
flex-direction: column;
gap: 10px;
max-width: 500px;
}
.pfdesc>p{
  line-height: 1.5;
}
section{
  margin-left: auto;
  margin-right: auto;
}
main{
  display: grid;
  gap: 20px;
  padding: 40px;
}
@media (width >= 768px){
section{
  flex-direction: row;
}
main{
  grid-template-columns: 1fr 1fr;
}
}
@media (width >= 992px){
section{
  flex-direction: row;
}
main{
  grid-template-columns: 1fr 1fr 1fr;
}
}